*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.header-flex{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-item{
    padding: 10px;
}
.header-btn{
    width: 80px;
    height: 25px;
    border-radius: 20px;
    border: none;
    background: lightblue;
}

.main-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 200px;

    background-image: url(./images/Frame\ \(9\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title{
    font-size: 60px;
    width: 70%;
    text-align: center;
    padding-bottom: 30px;
    color: darkslategray;
}

.main-text{
    font-size: 20px;
    color: darkslategrey;
    padding-bottom: 50px;
}

.main-btn{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: darkturquoise;
    color: darkorchid;
    font-style: bold;
}

.main-img{
    width: 700px;
    height: 400px;
    position: absolute;
    top: 55%;
}
